# ======= COMMON FOR BOTH =======
node_modules/
venv/
.env
.env.local
.env.*
__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/

*.env

# ======= FRONTEND =======
frontend/dist/
frontend/build/
frontend/.next/
frontend/.vercel/
frontend/.cache/

# ======= BACKEND =======
backend/*.db
backend/*.sqlite3
backend/logs/
backend/tmp/
backend/temp/

# ====== YOLO ======
# Ignore ML models
*.pt
*.pkl

# Ignore data
videos/
uploads/

