name: Deploy Backend to Hugging Face Space

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v3

      - name: Install Git LFS
        run: |
          sudo apt-get install git-lfs
          git lfs install

      - name: Clone Hugging Face Space (AUTH FIXED)
        run: |
          git clone https://$HF_TOKEN@huggingface.co/spaces/i-amankitsingh/smart-city-traffic-backend hf-space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}

      - name: Copy backend to Space
        run: |
          rm -rf hf-space/*
          cp -r backend/* hf-space/

      - name: Commit and push to Hugging Face
        run: |
          cd hf-space
          git add .
          git commit -m "Auto-deploy from GitHub" || echo "No changes to commit"
          git push
